{% load static %}

<div class="shadow-2-strong mt-0 text-white bg-matte" id="about">
    <div class="about-section">
       <div class="row ">
          <div class="col-md-6 mx-auto">
             <h2 class="h2 fw-dark text-center ">About Me</h2>
             <table id="about-text">
                <caption></caption>
                <th id="th-about-me"></th>
                <tr>
                   <td>
                      <br />
                      <i class="fas fa-graduation-cap text-white"> </i>
                   </td>
                   <td>
                      <br />
                      B.Tech in Computer Science & Engineering  .
                   </td>
                </tr>
                <tr>
                   <td>
                      <br />
                      <i class="fas fa-laptop-code text-white"> </i>
                   </td>
                   <td>
                      <br />
                       Data Structures, Algorithms &  
                     Web
                      Development 
                   </td>
                </tr>
                <tr>
                   <td>
                      <br />
                      <i class="fas fa-code text-white"> </i>
                   </td>
                   <td>
                      <br />
                      I’m currently working on many project using  React ,  JavaScript, Python ,Django .
                      
                   </td>
                </tr>
             
                <br />
               
             </table>
          </div>
       </div>
    </div>
 </div>