{% load static %}

<div class="shadow-1-strong bg-olive p-5 text-white" id="education">
    <div class="education-section">
       <h2 class="h2 fw-light mb-4">Education</h2>
       <div class="timeline">
          <div class="timeline-card timeline-card-success" data-aos="fade-in" data-aos-delay="0">
             <div class="timeline-head px-4 pt-3">
                <div class="h5">B. Tech in Computer Science & Engineering <br /><span
                      class="text-white h6">Indian Institute of Information Technology Jabalpur</span>
                </div>
             </div>
             <div class="timeline-body px-4 pb-4">
                <div class="text-white text-small mb-3">2020 - 2024 | Jabalpur, Madhya Pradesh</div>
                <div>
                   
                </div>
             </div>
          </div>
           
          <div class="timeline-card timeline-card-success" data-aos="fade-in" data-aos-delay="400">
             <div class="timeline-head px-4 pt-3">
                <div class="h5">High School <br /><span class="text-white h6">Udai Pratap Inter College Varanasi, Uttar Pradesh</span>
                </div>
             </div>
             <div class="timeline-body px-4 pb-4">
                <div class="text-white text-small mb-3">Varanasi Uttar Pradesh</div>
             </div>
          </div>
       </div>
    </div>
 </div>