
{% load static %}

<div class="shadow-1-strong bg-purple p-5 text-white" id="experience">
    <div class="work-experience-section">
       <h2 class="h2 fw-light mb-4">Experience</h2>
       <div class="timeline">
          <div class="timeline-card-info" data-aos="fade-in" data-aos-delay="0">
             <div class="timeline-head px-4 pt-3 d-flex">
                <img class="org-logo" src="{% static 'img/experience/gssoc.png' %}" alt="" height="40px" width="40px"/>
                <div class="h5">Web Developer  <br /><span class="text-white h6"> @Health management IIITDM Jabalpur</span>
                </div>
             </div>
             <div class="xp-body timeline-body px-4 pb-4">
                <div class="text-white text-small mb-3"> Jan, 2023 - Present</div>
                <div>
                   <ul>
                      <li> Worked on teams for making rigid Backend logic for our Institute website.</li>
                      <li> Managing all operations related to the Projects.</li>
                      <li> My main task to find Problem and fix it as a Backend Developer</li>
                   </ul>
                </div>
             </div>
          </div>
          
          <!-- <div class="timeline-card-info" data-aos="fade-in" data-aos-delay="0">
             <div class="timeline-head px-4 pt-3 d-flex">
                <img class="org-logo" src="{% static 'img/experience/gssoc.png' %}" alt="" height="45px" width="45px"/>
                <div class="h5">Intern <br /><span class="text-white h6"> Flipkart</span>
                </div>
             </div>
             <div class="xp-body timeline-body px-4 pb-4">
                <div class="text-white text-small mb-3"> September, 2020 - December, 2020</div>
                <div>
                   <ul>
                      <li> Interaction with senior developers. </li>
                      <li> Saw real database management patterns in code. </li>
                      <li>  Develop a deep understanding of backend and frontend tasks.
                      </li>
                   </ul>
                </div>
             </div>
          </div> -->
       </div>
    </div>
 </div>