 
{% extends 'base2.html' %}
{% block title %} PortFolio
{% endblock title %}
 

{% block portfolioactive %}
menu-active
{% endblock portfolioactive %}
{% block body %}
{% load static %}


<section id="intro" style="background: url('static/img/bg/home.jpg') top center;width: 100%;height: 100vh;  
  background-size: cover; overflow: hidden; position: relative;z-index:10">
  <div class="intro-container wow fadeIn">
    <h1 class="mb-4 pb-0">Welcome to<br><span>My Portfolio</span></h1>
   
    <a href="#aboutsection" class="about-btn scrollto">About Me</a>
  </div>
</section>
  <section id="aboutsection">
     {% include 'home/about.html' %}
  </section>
   
{% endblock body %}


 
   