  <!--==========================
    Footer
  ============================-->
  <footer id="footer"> 

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Pradeep Kushwaha</strong>. All Rights Reserved
      </div>
      
      <div class="col-12 mx-auto">
        <div class="social-links   col-lg-3 col-sm-12 mx-auto my-2">
          <a href="https://github.com/Pkomia" class="github ms-3"><i class="fa fa-github"></i></a>
          <a href="/" class="google-plus ms-3"><i class="fa fa-code"></i></a>
          <a href="https://www.linkedin.com/in/pradpkushwaha-4a0966200/" class="linkedin ms-3"><i
              class="fa fa-linkedin"></i></a>
          <a href="https://www.facebook.com/pradeep.mourya.79274/" class="facebook ms-3"><i
                class="fa fa-facebook"></i></a>
          <a href="https://www.instagram.com/pradeepmaurya9148/" class="instagram ms-3"><i class="fa fa-instagram"></i></a>

        </div>
      </div>
    </div>
  </footer><!-- #footer -->
